.customer-badge,
.product-badge,
.order-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.product-badge {
    &.status-disponible {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-agotado {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-limitado {
        background: #FEEDAF;
        color: #8A5340;
    }
}

.serv-badge {
    &.tipo-a {
        background: #fbe472a7;
        color: #e28c22;
    }
    &.tipo-s {
        background: #c3f2f7da;
        color: #5979eb;
    }
    &.tipo-na {
        font-size: 10px;
        background: #eaececda;
        color: #444447;
    }
}

.placa {
    background: #E1F5FE;
    color: black;
    
}

.customer-badge {
    &.status-qualified {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-unqualified {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-negotiation {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.status-new {
        background: #B3E5FC;
        color: #23547B;
    }

    &.status-renewal {
        background: #ECCFFF;
        color: #694382;
    }

    &.status-proposal {
        background: #FFD8B2;
        color: #805B36;
    }
}

.order-badge {
    &.order-delivered {
        background: #C8E6C9;
        color: #256029;
    }

    &.order-cancelled {
        background: #FFCDD2;
        color: #C63737;
    }

    &.order-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.order-returned {
        background: #ECCFFF;
        color: #694382;
    }
}
.field canvas {
    width: 100%; /* Asegura que el canvas ocupe el 100% del ancho del contenedor */
    height: 100%; /* Asegura que el canvas ocupe el 100% de la altura del contenedor */
  }
  :deep(.int .p-panel-header) {
      background-color: #198bba; /* Azul */
      border-color:#198bba;
      color: #ffffff; /* Texto blanco */
      font-size: 1.1em; 
  }
  :deep(.int .p-panel-content) {
    border-color: #198bba;
}
  :deep(.ext .p-panel-header) {
      background-color: #28a745; /* Verde */
      border-color: #28a745;
      color: #ffffff; /* Texto blanco */
      font-size: 1.1em; 
  }
  :deep(.ext .p-panel-content) {
    border-color: #28a745;
}
  :deep(.acs .p-panel-header) {
      background-color: #FF902B; /* Amarillo */
      border-color: #FF902B;
      color: #ffffff; /* Texto blanco */
      font-size: 1.1em; 
  }
  :deep(.acs .p-panel-content) {
    border-color: #FF902B;
}
  .descrip {
      font-weight: bold;
  }
  :deep(.p-calendar-button) {
      background-color: #ff5733; /* Cambia el color de fondo del botón */
      color: #ffffff; /* Cambia el color del texto del botón */
      /* Otros estilos que desees aplicar al botón */
  }
  :deep(.p-autocomplete-dropdown) {
    /* Estilos para el botón de tipo Dropdown */
    /* Por ejemplo, cambia el fondo y color del texto */
    background-color: rgb(57, 57, 68);
    color: #ffffff;
    border: none;
  }
  :deep(.p-autocomplete-dropdown:hover),
  :deep(.p-autocomplete-dropdown:focus) {
    /* Estilos para el botón de tipo Dropdown cuando se selecciona con el cursor */
    background-color: #b6bcc2; /* Cambia el color de fondo al hacer hover o focus */
  }
  :deep(.p-datepicker-trigger) {
    /* Estilos para el botón del calendario */
    background-color: rgb(57, 57, 68);
    color: #ffffff;
    border: none;
  }
  :deep(.p-datepicker-trigger:hover),
  :deep(.p-datepicker-trigger:focus) {
    /* Estilos para el botón del calendario cuando se selecciona con el cursor o está enfocado */
    background-color: #0056b3; /* Cambia el color de fondo al hacer hover o focus */
  }
  :deep(.p-knob-handle:active) {
    /* Estilos para el componente Knob cuando se hace clic */
    background-color: #007bff; /* Cambia el color de fondo cuando se hace clic */
  }
  
  :deep(.p-knob-handle:focus) {
    /* Estilos para el componente Knob cuando se enfoca */
    background-color: #007bff; /* Cambia el color de fondo cuando se enfoca */
  }
